*{
margin:0;
padding:0;
}
html{
    scroll-behavior: smooth;
}

#navbar{
    display: flex;
    align-items: center;
}
#logo{
margin: 15px 25px;
}
#logo img{

    height :80px;
    margin: 5px 5px;

}
#navbar {
    position: relative;
}
#navbar ul{
    display: flex;
    }

#navbar::before{
    content: "";
    background-image: url("../img/1.jpg");
    position: absolute;
    background-position: top;
    height: 99% ;
    width: 100% ;
    z-index: -1;
    opacity: 0.8;

}
#navbar ul li{

    list-style: none;
    font-size: 2.0rem;
    
}
#navbar ul li a{
    color: rgb(27, 35, 36);
    display: block;
    padding:1px 15px ;
    border-radius:50px ;
    text-decoration: none;

}
#navbar ul li a:hover{
    color:rgba(229, 241, 245, 0.925);
    background-color: rgba(6, 51, 109, 0.925);
}
#home {
    display: flex;
    flex-direction: column;
    padding: 5px 200px;
    justify-content: center;
    align-items: center;
     }
     
.h-primary{
        font-size: 60px;
    }


#home::before{
        content: "";
        background: url('../img/bg1.jpg') no-repeat center center /cover;
        position: absolute;
        height: 48%;
        width: 100% ;
        z-index: -1;
        opacity: 0.5;

     }
     .btn{
         width: 500px;
         height:50px;
         background-color: rgba(160, 204, 175, 0.705);
         font-size: 2rem;
         border: 5px solid rgba(0, 0, 0, 0.733);
         border-radius: 2ch;
     }
     .btn:hover{
         color: rgb(3, 4, 5);
         background-color: rgb(5, 46, 46);
         color: bisque;
         cursor: pointer;
        }
   #service{
       margin: 30px;
       display: flex;
   }
   #service .box{
       border:2px solid rgb(2, 40, 51)  ;
       padding:2px;
       margin:3px 20px;
       margin-left: 20px;
       border-radius: 20px;
       background: #b8b8b8;
       }
   #service .box img{
    height: 250px;   
    display: block;
    margin: auto;
}

.btn1{
    font-size:2.5rem;
    cursor: pointer;
    color:ivory;
    background-color:rgba(235, 110, 110, 0.747);
    color: rgb(10, 10, 10);
   
    border:3px solid rgb(230, 230, 230);
    border-radius:20px;
}
.btn1:hover{
    color:rgb(2, 2, 2);
    background-color: rgba(13, 113, 121, 0.87);
}
.deals{
    background-color: ivory;
}

#videos{
    background-color:#05525c ;
    color: white;
    padding-bottom: 60px;
}

#video-pack h1{
    padding: 25px;
    text-align: center;
    font-size: 3rem;
}

#videos-pack{
    text-align: center;
    display: flex;
    margin-top: 30px;
    justify-content: center;
}

.video-element{
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    width: 500px;
    height: 320px;
}


   








     .h-primary{
         font-size: 3.5rem;
         padding:5px;
     }
     .h-secondary{
         font-size: 3.8rem;
         padding: 10px;
     }
     .center{
         text-align: center;
     }









     #team{
        justify-content: center;
    }
    
    #team-member{
        display:flex;
        flex-wrap: wrap;
        padding-left: 200px;
        padding-right: 200px;
    }
    
    #team-member{
        justify-content: center;
        text-align: center;
        margin: auto;
        margin-top: 50px;
    }
    
    #member{
        padding:10px;
        margin: 10px 40px 10px 40px;
        justify-content: center;
    
    }
    
    #member-image{
        position: relative;
        margin-bottom: 30px;
    }
    
    #member-image img{
        justify-content: center;
        overflow: hidden; 
        position: relative; 
        border-radius: 50%;
        width: 200px;
        height: 200px;
        transition: all 0.4s ease 0s;
    }
    
    
    
    #member:hover img{
        transform: scale(1.2)
    }
    
    #member .social{
        background-color: #630a7e63;
        position:absolute;
        text-align: center;
        justify-content: center;
        height: 200px;
        width: 200px;
        border-radius: 50%;
        left: 0;
        top: 0;
        opacity: 0;
        transition: .5s;
        transform: rotateY(180deg) scale(0.5, 0.5);
    }
    
    #member:hover .social{
        cursor: pointer;
        opacity: 1;
        transform: rotateY(0deg) scale(1.2);
    }
    
    #member .social ul{
        text-align: center;
        position: relative;
        justify-content: center;
        display: flex;
        flex-direction: row;
    }
    
    #member .social ul li a{
        font-size: 20px;
        text-align: center;
        justify-content: center;
    }
    
    #member .social ul li{
        padding-right: 10px;
        margin-top: 130px;
        text-align: center;
    }







    #track{
        position: relative;
    }
    
    #track-image img{
        position: absolute;
        opacity: 0.8;
        z-index: -1;
    }
    
    #track h1{
        text-align: center;
        color:#003304;
        padding-top: 40px;
        margin-top: 20px;
        font-weight: bold;
        margin-bottom: 40px;
    }
    
    #trkcon{
        justify-content: center;
        text-align: center;
    }
    
    .trk{
        width: 50%;
        height: 100px;
        border-radius:7px ;
        border: transparent;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        position: relative;
    }
    
    input:focus{
        outline: none;
    }
    
    .btn2{
        color: aqua;
        width: 8%;
        height: 45px;
        border-left:0px;
        border-radius: 7px;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        position: absolute;
        border: none;
        background-color: rgb(10, 2, 54);
        font-weight: bold;
    }
    
    .btn2:hover{
        background-color:#9d90c4b7 ;
        color: rgb(19, 1, 1);
      cursor: pointer;
    }
    


    #contact-us{
        margin-top: 80px;
    }
    
    #container-2{
        display: flex;
        /* flex-direction: row; */
    }
    
    #map{
        width: 50%;
    }
    
    #form-heading h1{
        margin-top: 20px;
    }
    
    #contact-form{
        width:50%;
        background-color: #103e49;
        color: beige;
        padding-left: 20px;
    }
    
    #contact-form input{
        width: 60%;
        border-radius: 3px;
        border: none;
        height: 35px;
        padding-left: 10px;
    }
    
    #contact-form textarea{
        width: 60%;
        border-radius: 3px;
        border: none;
        height: 100px;
        margin-bottom: 20px;
        padding-left: 10px;
    }
    
    #contact-form label{
        font-weight: 500;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    
    .contact-submit-btn{
        font-size: 2rem;
        cursor: pointer;
        background-color: rgba(32, 14, 133, 0.658);
        color: rgb(143, 207, 204);
    }

    #footer-container{
        display: flex;
        justify-content: center;
        margin-top: 60px;
        text-align: center;
    }
    
    #footer-1{
        margin: auto;
    }
    
    #footer-container h6{
        font-size: 17px;
        padding-bottom: 20px ;
        font-weight: 650;
    }
    
    #footer-social i{
        margin: 10px;
        font-size: 20px;
    }
    
    #footer-social a{
        color: black;
    }
    
    


    .container { 
        position: relative;
        cursor: pointer;
       width: 100%;
      }
      
      
      .image {
        display: block;
        width: 85%;
        height: auto;
      }
      
      .overlay {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #070202b7;
        overflow: hidden;
        width: 100%;
        height: 100%;
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0);
        -webkit-transition: .3s ease;
        transition: .3s ease;
      }
      
      .container:hover .overlay {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
      }
      
      .text {
        color: white;
        font-size: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
      }